@use '../styles/colors' as *;

.env-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-top: 32px;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 1200px) {
  .env-cards-container {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .env-cards-container {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

.env-card {
  background: white;
  padding: 20px 20px 16px 20px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 425px;
  margin-bottom: 38px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

.env-card__header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-weight: 600;
}

.env-card__icon {
  font-size: 16px;
  color: #495763;
  margin-right: 8px;
}

.env-card__env-name {
  font-size: 16px;
  color: black;
  font-size: 1.1em;
  font-weight: 600;
  color: #495763;
}

.env-card__label {
  color: #7b8a97;
  font-weight: 400;
  font-size: 13px;
  margin-right: 8px;
  min-width: 110px;
  flex-shrink: 0;
  vertical-align: middle;
}

.env-card__value {
  color: #495763;
  font-size: 13px;
  font-family: 'Heebo', sans-serif;
  margin-left: 8px;
  vertical-align: middle;
}

.env-card__status-row {
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 10px;
  font-size: 15px;
}

.status-icon {
  font-size: 13px;
  margin-right: 6px;
}

.env-card__status-label {
  font-size: 13px;
  font-weight: 500;
  color: $argo-color-gray-7;
}

.env-card__row {
  margin: 0 0 8px 0;
  display: flex;
  align-items: flex-start;
}

.env-card__value-field {
  display: inline;
  margin-top: 0;
  color: #495763;
  font-size: 13px;
  font-family: 'Heebo', sans-serif;
}


